[target.x86_64-unknown-linux-gnu.csfml-system]
rustc-link-search = ["/home/travis/build/jeremyletang/rust-sfml/sfml_install/usr/local/lib"]
rustc-link-lib=["csfml-system"]
[target.x86_64-unknown-linux-gnu.csfml-window]
rustc-link-search = ["/home/travis/build/jeremyletang/rust-sfml/sfml_install/usr/local/lib"]
rustc-link-lib=["csfml-window"]
[target.x86_64-unknown-linux-gnu.csfml-graphics]
rustc-link-search = ["/home/travis/build/jeremyletang/rust-sfml/sfml_install/usr/local/lib"]
rustc-link-lib=["csfml-graphics"]
[target.x86_64-unknown-linux-gnu.csfml-audio]
rustc-link-search = ["/home/travis/build/jeremyletang/rust-sfml/sfml_install/usr/local/lib"]
rustc-link-lib=["csfml-audio"]
[target.x86_64-unknown-linux-gnu.csfml-network]
rustc-link-search = ["/home/travis/build/jeremyletang/rust-sfml/sfml_install/usr/local/lib"]
rustc-link-lib=["csfml-network"]
